{% load static %}
<body class="navbar-body">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


<nav class="nav-bar">
    <div class="icon-nav">
        <img src="https://i.postimg.cc/C5rXtbbw/ASTUS-logo.jpg" alt="ASTUS Logo" class="logo">
        <link rel="shortcut icon" type="image/png" href="{% static 'css/accessclient/images/ASTUS_logo.jpg' %}" >
        
    </div>

    <ul class="list-nav-bar active">
        <li class="list-item"><a href="/messages_ascenseurs/">Messages en cours</a></li>
        <li class="list-item"><a href="/archive_messages/">Archives</a></li>
        <li class="list-item"><a href="/appareils/">Base de Données</a></li>
        <li class="list-item"><a href="/astreintes/">Astreintes</a></li>
        <li class="list-item"><a href="accounts/logout/">Déconnecter</a></li>
    </ul>
    
</nav>

</body>