@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Open Sans',Arial;
}

navbar-body {
    min-height: 100vh;
    background-image:linear-gradient(90deg, rgba(219,209,209,1) 0%, rgba(244,238,244,1) 39%, rgba(181,171,191,1) 70%);

    background-size: cover;
    background-position: center;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 1.5rem;
    height: 60px;
    background-image:linear-gradient(90deg, rgba(36,0,27,1) 4%, rgba(121,9,83,1) 54%, rgba(255,0,245,1) 89%);
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 40px; /* Add margin-bottom here */
}

.logo {
    width: 50px; /* Adjust width and height as needed */
    height: auto;
    margin-right: 15px; /* Adjust margin as needed */
    margin-top: 10px;
}
.fas {
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

.list-nav-bar {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    gap: 20px;
}

.list-item a {
    cursor: pointer;
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-left: 0.5rem;
    letter-spacing: 0.1rem;
}

.list-item a:hover {
    color: #e29bc2;
}

.burger-menu {
    display: none;
}

.main-content {
    text-align: center;
    margin-top: 25vh;
}

.main-content h1 {
    color: #fff;
    font-size: 3.5rem;
}


@media screen and (max-width: 768px) {

    .list-item a {
        font-size: 0.875rem;
    }

    .logo {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 578px) {

    .list-item a {
        font-size: 1rem;

    }

    .list-nav-bar.active {
        right: 0;
    }

    .list-nav-bar {
        display: flex;
        position: fixed;
        right: -100%;
        top: 60px;
        width: 35%;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        flex-direction: column;
        transition: 0.7s;
        gap: 18px;
        border-radius: 0 0 10px 10px;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }
}
